.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-conteudo {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background: #111;
}