.sidebar-wrapper {
  display: flex;
  height: 100%;
}

/* Coluna principal */
.sidebar {
  width: 110px;
  min-width: 100px;
  background: #141414;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  overflow-y: auto;
}

.sidebar-btn {
  width: 90px;
  background: transparent;
  border: none;
  border-radius: 14px;
  color: #666;
  padding: 10px 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}

.sidebar-btn:hover {
  background: #2a2a2a;
  color: #ccc;
  border-color: #3a3a3a;
}

.sidebar-btn.ativo {
  background: #e8a020;
  border-color: #e8a020;
  color: #000;
}

.sidebar-label {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

/* Segunda coluna — subcategorias */
.sidebar-sub {
  min-width: 130px;
  background:  #141414;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 10px;
  gap: 8px;
  overflow-y: auto;
}

.sidebar-sub-btn {
  width: 113px;
  height: 60px;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 14px;
  color: #666;
  padding: 10px 6px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}

.sidebar-sub-btn:hover {
  background: #2a2a2a;
  color: #ccc;
  border-color: #3a3a3a;
}

.sidebar-sub-btn.ativo {
  background: #e8a020;
  border-color: #e8a020;
  color: #000;
  font-weight: 700;
}